@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <img src="/img/Customer_AboutUsPage.png" class="img-fluid" alt="Lego Image">
    </div>
    <div class="col-md-8">
        <p>At Aurora Brickwell, we're more than just a Lego™ storefront - we're a community of passionate builders and collectors. Led by Aurora Brickwell herself, a renowned Lego™ collector and master builder with a devoted social media following, we're dedicated to bringing the joy of Lego™ to enthusiasts worldwide. With our distributor license from The Lego Group™, we've been serving customers through social media channels and trade shows, offering an extensive array of products sourced directly from the iconic brand.</p>
    </div>
</div>