

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Identity.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib//font-awesome/css/all.min.css" />

</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <header>
        @*
        <div class="NaviTopBar" style="width: 1440px; height: 120px; left: -10px; top: -1px; position: absolute">
        <div class="NaviBar" style="width: 1440px; height: 120px; left: 0px; top: 0px; position: absolute">
        <div class="Frame427320601" style="width: 1440px; height: 120px; left: 0px; top: 0px; position: absolute">
        <div class="Rectangle1" style="width: 1440px; height: 120px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div class="Rectangle2" style="width: 1440px; height: 120px; left: 0px; top: 0px; position: absolute; background: black"></div>
        </div>
        <div class="HelloAdminUser" style="left: 1026px; top: 42px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">Hello! Admin User</div>
        <div class="Home" style="width: 107px; height: 33px; left: 141px; top: 40px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Home</div>
        <div class="Products" style="width: 161px; height: 33px; left: 261px; top: 40px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Products</div>
        <div class="Customers" style="left: 435px; top: 40px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Customers</div>
        <div class="Orders" style="left: 637px; top: 40px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Orders</div>
        <div class="LogOut" style="left: 1251px; top: 37px; position: absolute; color: white; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">|   Log out</div>
        <img class="Logo3" style="width: 94px; height: 94px; left: 21px; top: 0px; position: absolute" src="https://via.placeholder.com/94x94" />
        </div>
        </div>
        *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: black;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index" style="color: white; font-weight: bold;">
                    <img src="/img/logo.png" alt="brickwell logo" width="75" height="75" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Home" style="font-weight: bold;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="ProductList" style="font-weight: bold;">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="CustomerList" style="font-weight: bold;">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="OrderList" style="font-weight: bold;">Orders</a>
                        </li>
                    </ul>
                    @*
                    This line of code below is what is in the 414 lab, but it causes an error
                    <partial name="_LoginPartial"/>*@
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="/" style="font-weight: bold;">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="m-1 p-1">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*

    <div class="ButtomBar" style="width: 1486px; height: 224px; left: -37px; top: 1548px; position: absolute">
    <div class="Button" style="width: 1486px; height: 3680px; left: 28.89px; top: 0px; position: absolute">
    <div class="BottonBar" style="width: 1440px; height: 214px; left: 0px; top: 0px; position: absolute">
    <div class="Rectangle155" style="width: 1440px; height: 38px; left: 0px; top: 183px; position: absolute; background: black"></div>
    <div class="PrivacyPolicyIAboutUs" style="width: 171px; height: 18px; left: 1217px; top: 190px; position: absolute"></div>
    <div class="20002021AllRightsReserved" style="width: 276px; height: 11.08px; left: 33px; top: 190px; position: absolute; text-align: right; color: white; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Birckwell © 2024, All Rights Reserved</div>
    </div>
    </div>
    </div>
    *@
    <footer class="border-top footer text-white" style="background-color: black; position: absolute; bottom: 0; width: 100%;">

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <p style="margin-bottom:0; float-left">Brickwell &copy; 2024, All Rights Reserved</p>

                </div>

                <div class="col-md-4">
                </div>

                <div class="col-md-2">
                    <ul class="list-unstyled">
                        <li><a asp-area="" asp-controller="Home" asp-action="About" class="text-white">About Us</a></li>


                        <!-- Add more links as needed -->
                    </ul>

                </div>
                <div class="col-md-2">
                    <ul class="list-unstyled">
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">Privacy Policy</a></li>


                        <!-- Add more links as needed -->
                    </ul>
                </div>
            </div>



        </div>
    </footer>
    @RenderSection("Styles", required: false)
</body>
</html>

