<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Identity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Identity.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib//font-awesome/css/all.min.css" />

</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: black;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: white; font-weight: bold;">
                    <img src="/img/logo.png" alt="brickwell logo" width="75" height="75" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: bold;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="ProductList" style="font-weight: bold;">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About" style="font-weight: bold;">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy" style="font-weight: bold;">Privacy</a>
                        </li>
                    </ul><ul class="navbar-nav">
                        


                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="ShoppingCart" style="font-weight: bold;">
                                    <img src="/img/shoppingCart.png" style="width: 20px; height: 20px;" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Product" asp-action="Checkout" style="font-weight: bold;">Checkout (To be deleted)</a>
                            </li>
                            <li class="nav-item">
                                @*                             <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Register</a>
                                <a style="font-weight: bold;" class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> *@


                            </li>
                            @* If we want to show the icon of the user

                            <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="AccountInfo" style="font-weight: bold;"><img src="/img/userIcon.png" /></a>
                            </li> *@
                           @*  <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register" style="font-weight: bold;">Register</a>
                            </li> *@
                            @* <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="/" style="font-weight: bold;">Login</a>
                            </li> *@
                           @*  <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="/" style="font-weight: bold;">Login</a>
                            </li> *@
                            @*                         This line of code below is what is in the 414 lab, but it causes an error
                            *@
                            <partial name="_LoginPartial" />
                        </ul>
                </div>
                <div class="col-6 navbar-text text-end">
                    <vc:cart-summary />
                </div>
            </div>
        </nav>
    </header>



    @* these links were from the original site


    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="/">Login</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">All User</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Create">Create User</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">All Roles</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Create">Create Role</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="Index">Claims</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="Create">Create Claim</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="Project">Policy Authorization</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="TomFiles">Tom Files</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="PrivateAccess">Private Accesss</a>
    </li> *@
    </ul>
    </div>
    </div>
    </nav>
    </header>

    <div class="container col-9" style="flex-grow: 1; margin-bottom:0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>

<footer class="border-top footer text-white" style="background-color: black; position: absolute; bottom: 0; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Join Our Lego™ Family: Where Every Builder is Celebrated.</p>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a asp-area="" asp-controller="Home" asp-action="About" class="text-white">About Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">Privacy Policy</a></li>


                    <!-- Add more links as needed -->
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="https://www.lego.com" class="text-white">Lego Website</a></li>
                    @*                         <li><a href="#" class="text-white">FAQ</a></li>
                    *@                        <!-- Add more resources as needed -->
                </ul>
            </div>
        </div>
        <div class="row">
            <p style="margin-bottom:0">Brickwell &copy; 2024, All Rights Reserved</p>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
